{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{# <pre>{{ dump(children) }}</pre> #}
<form{{ attributes.addClass('ph-form') }}>
  {{ element|without('actions') }}
  <div class="visually-hidden">
    {{ element.actions }}
  </div>
</form>
