# Ignore everything first.
/*

# Loop through these and enable just some.
!/.gitignore
!/composer.json
!/README.md

# Prepare for theme and module.
!/web/
/web/*

# Add our module.
!/web/modules/
/web/modules/*
!/web/modules/custom/
/web/modules/custom/*
!/web/modules/custom/ph_core/

# Add our theme.
!/web/themes/
/web/themes/*
!/web/themes/custom/
/web/themes/custom/*
!/web/themes/custom/ph_tailwindcss/
/web/themes/custom/ph_tailwindcss/__*
/web/themes/custom/ph_tailwindcss/**/__*