{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 */
#}
{% if content %}
  {% if attributes is not empty %}
    <div{{ attributes }}>
  {% endif %}
  {{ title_suffix.contextual_links }}
  {{ content|without('field_media_image') }}
  {% if attributes is not empty %}
    </div>
  {% endif %}
{% endif %}