{#
/**
 * @file
 * Theme override for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 */
#}
{%
  set item_classes = [
    'mr-2',
  ]
%}
{%
  set link_classes = [
    'px-4',
    'pb-2',
    'text-gray-500',
    'hover:text-gray-600',
    'hover:border-gray-300',
    'hover:animate-none',
    'border-solid',
    'border-b-2',
    'border-transparent',
    is_active ? 'is-active',
    is_active ? 'border-red-pale',
  ]
%}
<li{{ attributes.addClass(item_classes) }}>
  {% set href = path(link['#url'].getRouteName(), link['#url'].getRouteParameters()) %}
  <a{{ create_attribute({'class': link_classes}).setAttribute('href', href) }}>{{ link['#title'] }}</a>
</li>
